.gallery {
	list-style: none;
	padding: 0;
	
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.gallery__item {
	flex-basis: calc((100% - 2 * 20px) / 3);
	outline: 1px solid tomato;
}

.gallery__image {
	display: block;
	max-width: 100%;
	height: auto;
}